/*
    05. button
*/


/* 
    button-start
*/
.as-offcanvas-btn-1 {
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: var(--as-clr-pr-1);
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    transition: var(--as-cube-2);

    i {
        transition: var(--as-cube-1);
    }

    &:hover {
        background: var(--as-clr-sd-1);
        color: var(--as-clr-pr-1);

        i {
            transform: rotate(90deg);
        }
    }
}




.as-cart-btn-1 {
    background-color: var(--as-clr-pr-1);
    color: #fff;
    border-radius: 100px;
    letter-spacing: -0.05em;
    padding: 11px 20px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: var(--as-cube-2);
   

    i {
        font-size: 22px;
    }

    &:hover {
        background: var(--as-clr-sd-1);
        color: var(--as-clr-pr-1);
    }
}

.as-user-btn-1 {
    display: inline-flex;
    flex: 0 0 auto;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(95, 95, 95, 0.5);
    border-radius: 50%;
    font-size: 20px;
    color: #000;
    transition: var(--as-cube-2);

    &:hover {
        background: var(--as-clr-pr-1);
        color: #fff;
    }
}
.as-save-btn-1 {
    display: inline-flex;
    flex: 0 0 auto;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(95, 95, 95, 0.5);
    border-radius: 50%;
    font-size: 20px;
    color: #000;

    transition: var(--as-cube-2);

    &:hover {
        background: var(--as-clr-pr-1);
        color: #fff;
    }
}


.as-phone-btn-1 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    display: inline-flex;
    gap: 12px;
    align-items: center;
    transition: var(--as-cube-2);

    .icon {
        width: 52px;
        height: 52px;
        background: var(--as-clr-pr-1);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        font-size: 25px;
        transition: var(--as-cube-2);
    }

    &:hover {
        color: #fff;
        .icon {
            background: var(--as-clr-sd-1);
            color: var(--as-clr-pr-1);
        }
    }
}


.as-slider-btn-1 {
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #EDF2EC;
    font-size: 24px;
    color: #000;
    transition: var(--as-cube-2);

    &:hover {
        background: var(--as-clr-pr-1);
        color: #fff;
    }
}


.as-pr-btn-1 {
    font-family: var(--as-font-1);
    font-size: 18px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.05em;
    background: var(--as-clr-pr-1);
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    padding: 14px 26px;
    transition: var(--as-cube-2);
    .icon {
        font-size: 22px;
        display: inline-flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        i {
            transition: var(--as-cube-1);
            &:nth-child(1) {
                position: absolute;
                transform: translate(-18px, 18px);
            }
        }
    }

    &:hover {
        background: var(--as-clr-sd-1);
        color: var(--as-clr-pr-1);

        .icon {
            i {
                &:nth-child(2) {
                    transform: translate(18px, -18px);
                }
                &:nth-child(1) {
                    transform: translate(0px, 0px);
                }
            }
        }
    }

    &:is(.has-white) {
        background: #fff;
        color: var(--as-clr-pr-1);

        &:hover {
            background: var(--as-clr-sd-1);
            color: var(--as-clr-pr-1);
        }
    }


    &:is(.has-v2) {
        background: var(--as-clr-sd-1);
        color: var(--as-clr-h-3);
    }
    
    &:is(.has-border) {
        background: transparent;
        color: var(--as-clr-h-3);
        border: 1px solid #EDF2EC;
    }
}


.as-text-btn-1 {
    font-family: var(--as-font-1);
    font-weight: 500;
    line-height: 110%;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: var(--as-clr-h-3);
    transform: var(--as-cube-1);
    font-size: 20px;

    .icon {
        overflow: hidden;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        i {
            transition: var(--as-cube-1);
            &:nth-child(1) {
                position: absolute;
                transform: translate(-18px, 18px);
            }
        }
    }


    &:hover {
        color: var(--as-clr-sd-1);
        .icon {
            i {
                &:nth-child(2) {
                    transform: translate(18px, -18px);
                }
                &:nth-child(1) {
                    transform: translate(0px, 0px);
                }
            }
        }
    }

}

/* 
    button-end
*/