/* 
    custom-container-start
*/


@media (min-width: 1600px) {
    .container{
        &.as-container-1 {
            max-width: 1584px;
        }
    }
}


@media (min-width: 1400px) {
    .container{
        &.as-container-1 {
            max-width: 1344px;
        }
    }
}






/* 
    custom-container-end
*/