/* 
    blog-1-start
*/
.as-blog-1 {
    &-area {
        position: relative;
        &::after {
            content: "";
            width: 100%;
            max-width: 1840px;
            height: 146%;
            background: #EDF2EC;
            border-radius: 40px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }

    &-sec-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        .left {
            max-width: 660px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr ;
        }
        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }

    &-item {
        .item-img {
            height: 360px;
            margin-bottom: 32px;
            border-radius: 24px 24px 0 24px;

        }

        .item-date-wrap {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            background: #EDF2EC;
            border-radius: 24px 0 0 0;
            padding-top: 18px;
            padding-left: 18px;

            .bg-shape-1 {
                position: absolute;
                bottom: 0;
                left: -23px;
                * {
                    fill: #EDF2EC;
                }
            }
            .bg-shape-2 {
                position: absolute;
                top: -23px;
                right: -1px;
                * {
                    fill: #EDF2EC;
                }
            }
        }
        .item-date {
            background: var(--as-clr-sd-1);
            color: var(--as-clr-h1-1);
            padding: 10px 13px;
            border-radius: 12px;
        }

        .content-wrap {
            padding: 0 12px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 0 0px;
            }
        }
        
        .item-meta {
            display: flex;
            gap: 18px;
            flex-wrap: wrap;
            margin-bottom: 20px;

            &-elm {
                display: flex;
                align-items: baseline;
                font-weight: 500;
                gap: 5px;
                color: var(--as-clr-h-2);
            }
        }
        
        
        .item-title {
            font-size: 32px;
            color: var(--as-clr-h-2);
            margin-bottom: 40px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }
        
        .item-btn {
            display: flex;
            align-items: end;
            font-weight: 500;
            color: #011109;

            .btn-text {
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                gap: 6px;
                background: #fff;
                padding: 16px 21px;
                border-radius: 100px 100px 0 100px;
            }

            i {
                font-size: 20px;
            }

            .arrow-icon {
                margin-bottom: -5px;
                opacity: .2;

                @media #{$xxl} {
                    margin-bottom: -4px;
                }             
                @media #{$xl} {
                    margin-bottom: -3px;
                }

                @media #{$md} {
                    margin-bottom: -3px;
                }
            }

            &:hover {
                color: #fff;
                .btn-text {
                    background: var(--as-clr-pr-1);
                }
                .arrow-icon {
                    opacity: 1;
                }
            }
        }
        
    }
}











/* 
    blog-1-end
*/