/* 
    choose-1-start
*/
.as-choose-1 {
    &-area {
        padding-bottom: 240px;
        @media #{$lg,$md,$xs} {
            padding-bottom: 120px;
        }
    }
    &-bg-clr {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1840px;
        border-radius: 40px;
        background-color: #0A2803;
        height: 158%;
        z-index: -1;
    }


    &-sec-title {
        max-width: 750px;

        .as-subtitle-1 {
            color: #FEF4DB;
        }

        .as-sec-title-1 {
            color: #fff;
            margin-bottom: 40px;
        }
    }




    &-features {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        &-card {
            max-width: 342px;
            background: #0A2F03;
            padding: 40px 32px;
            border-radius: 12px;

            @media #{$md,$xs} {
                max-width: 335px;
                padding: 40px 20px;
            }

            
            .icon {
                margin-bottom: 40px;

                img {
                    transform-origin: bottom;
                }
            }
            .title {
                font-size: 24px;
                color: #fff;
                margin-bottom: 12px;
                transition: var(--as-cube-1);

                a {
                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    
                }
    
    
                &:hover {
    
                    a {
                        color: inherit;
                        background-size: 100% 100%;
                    }
                }
            }
            .disc {
                color: #FEF4DB;
            }

            &:hover {
                .icon {
                    img {
                        animation: swing 1s;
                    }
                }
            }
        }
    }

    &-img {
        max-width: 636px;
        height: 778px;
        width: 100%;
        border-radius: 32px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;

        @media #{$lg,$md} {
            position: unset;
            margin-top: 50px;
        }
        @media #{$xs} {
            position: unset;
            margin-top: 50px;
            height: 400px;
        }
        @media #{$sm} {
            position: unset;
            margin-top: 50px;
            height: 450px;
        }
    }
}



/* 
    choose-1-end
*/
/* 
    choose-2-start
*/

.as-choose-2 {
    &-wrap {
        display: grid;
        gap: 75px;
        grid-template-columns: 1fr 1.076fr;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    &-img {
        height: 540px;
        border-radius: 24px;

        @media #{$xs} {
            height: 400px;            
        }
        @media #{$sm} {
            height: 500px;            
        }
    }

    &-features {
        display: grid;
        gap: 32px;
        grid-template-columns: 1fr 1fr;

        @media #{$xs} {
            grid-template-columns: 1fr;       
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;         
        }

        &-single {
            .icon {
                margin-bottom: 25px;
            }

            .title {
                font-size: 24px;
                margin-bottom: 12px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }


                a {
                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    
                }
    
    
                &:hover {
                    a {
                        color: inherit;
                        background-size: 100% 100%;
                    }
                }
            }
            &:hover {
                .icon {
                    img {
                        animation: bounce2 1s;
                    }
                }
            }

        }
    }


    &-card {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            border: 1px solid #EDF2EC;
            border-radius: 12px;
            padding: 32px 32px;

            @media #{$lg,$md,$xs} {
                padding: 32px 20px;
            }

            .icon {
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FFF9E8;
                border-radius: 12px;
                margin-bottom: 40px;
            }

            .title {
                font-size: 24px;
                letter-spacing: -0.01em;
                margin-bottom: 16px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }

                a {
                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    
                }
    
    
                &:hover {
                    a {
                        color: inherit;
                        background-size: 100% 100%;
                    }
                }
            }


            &:hover {
                .icon {
                    img {
                        animation: bounce2 1s;
                    }
                }
            }
        }

    }


}



/* 
    choose-2-end
*/