/* 
    choose-1-start
*/
.as-choose-1 {
    &-area {
        padding-bottom: 240px;
        @media #{$lg,$md,$xs} {
            padding-bottom: 120px;
        }
    }
    &-bg-clr {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1840px;
        border-radius: 40px;
        background-color: #0A2803;
        height: 158%;
        z-index: -1;
    }


    &-sec-title {
        max-width: 750px;

        .as-subtitle-1 {
            color: #FEF4DB;
        }

        .as-sec-title-1 {
            color: #fff;
            margin-bottom: 40px;
        }
    }




    &-features {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        &-card {
            max-width: 342px;
            background: #0A2F03;
            padding: 40px 32px;
            border-radius: 12px;

            @media #{$md,$xs} {
                max-width: 335px;
                padding: 40px 20px;
            }

            
            .icon {
                margin-bottom: 40px;

                img {
                    transform-origin: bottom;
                }
            }
            .title {
                font-size: 24px;
                color: #fff;
                margin-bottom: 12px;
                transition: var(--as-cube-1);

                a {
                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    
                }
    
    
                &:hover {
    
                    a {
                        color: inherit;
                        background-size: 100% 100%;
                    }
                }
            }
            .disc {
                color: #FEF4DB;
            }

            &:hover {
                .icon {
                    img {
                        animation: swing 1s;
                    }
                }
            }
        }
    }

    &-img {
        max-width: 636px;
        height: 778px;
        width: 100%;
        border-radius: 32px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;

        @media #{$lg,$md} {
            position: unset;
            margin-top: 50px;
        }
        @media #{$xs} {
            position: unset;
            margin-top: 50px;
            height: 400px;
        }
        @media #{$sm} {
            position: unset;
            margin-top: 50px;
            height: 450px;
        }
    }
}



/* 
    choose-1-end
*/
/* 
    choose-2-start
*/

.as-choose-2 {
    &-wrap {
        display: grid;
        gap: 75px;
        grid-template-columns: 1fr 1.076fr;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    &-img {
        height: 540px;
        border-radius: 24px;

        @media #{$xs} {
            height: 400px;            
        }
        @media #{$sm} {
            height: 500px;            
        }
    }

    &-features {
        display: grid;
        gap: 32px;
        grid-template-columns: 1fr 1fr;

        @media #{$xs} {
            grid-template-columns: 1fr;       
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;         
        }

        &-single {
            .icon {
                margin-bottom: 25px;
            }

            .title {
                font-size: 24px;
                margin-bottom: 12px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }


                a {
                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    
                }
    
    
                &:hover {
                    a {
                        color: inherit;
                        background-size: 100% 100%;
                    }
                }
            }
            &:hover {
                .icon {
                    img {
                        animation: bounce2 1s;
                    }
                }
            }

        }
    }


    &-card {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            border: 1px solid #EDF2EC;
            border-radius: 12px;
            padding: 32px 32px;

            @media #{$lg,$md,$xs} {
                padding: 32px 20px;
            }

            .icon {
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FFF9E8;
                border-radius: 12px;
                margin-bottom: 40px;
            }

            .title {
                font-size: 24px;
                letter-spacing: -0.01em;
                margin-bottom: 16px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }

                a {
                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    
                }
    
    
                &:hover {
                    a {
                        color: inherit;
                        background-size: 100% 100%;
                    }
                }
            }


            &:hover {
                .icon {
                    img {
                        animation: bounce2 1s;
                    }
                }
            }
        }

    }


}



/* 
    choose-2-end
*/

/* 
    choose-3-start
*/

.as-choose-3 {
    &-sec-title {
        max-width: 800px;
    }

    &-wrap {
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr 1.5fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-img {
        height: 634px;
        border-radius: 16px;
        position: relative;
        margin-top: 95px;

        @media #{$xs} {
            height: 400px;
        }

        @media #{$sm} {
            height: 500px;
        }

        .favicon-img {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &-expri {
        display: flex;
        max-width: 290px;
        margin-left: auto;
        margin-right: 80px;
        gap: 15px;
        align-items: end;

        @media #{$xs} {
            margin-right: 0px;
        }

        .number {
            font-size: 148px;
            font-weight: 700;
            flex: 0 0 auto;
            letter-spacing: -0.03em;
            background: radial-gradient(102.57% 101.8% at 24.36% 5.56%, #ABD92F 0%, #A6D62E 12%, #8AC926 49%, #429625 67%, #125F23 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            line-height: 1;

            @media #{$xs} {
                font-size: 100px;
            }
        }

        
        .disc {
            padding-bottom: 16px;

            span {
                display: block;
                font-size: 50px;
                color: var(--as-clr-pr-3);
                line-height: 1;
            }
        }
    }


    &-progress {
        max-width: 510px;

        &-item {
            &:not(:last-child) {
                margin-bottom: 30px;
            }

            .item-title {
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                margin-bottom: 15px;
        
                .number {
                    color: var(--as-clr-pr-3);
                }
                
            }

            .progress-fill {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background: var(--as-clr-pr-3);
                border-radius: 100px;
            }

            .progress-wrap {
                height: 6px;
                position: relative;
                z-index: 1;
                border-radius: 100px;
                overflow: hidden;
        
                &::after {
                    content: "";
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: var(--as-clr-pr-3);
                    border-radius: 100px;
                    opacity: 16%;
                }
            }

            &:nth-child(2) {
                .item-title {
                    .number {
                        color: var(--as-clr-sd-1);
                    }
                    
                }
                .progress-fill {
                    background: var(--as-clr-sd-1);
                }
                .progress-wrap {
                    &::after {
                        background: var(--as-clr-sd-1);
                    }
                }
            }
        }
    }

    &-right {
        .right-inner-div {
            display: grid;
            gap: 50px;
            grid-template-columns: 1.88fr 1fr;
            align-items: center;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }

            @media #{$sm} {
                grid-template-columns: 1.88fr 1fr;
            }

            &-img {
                border-radius: 12px;
                height: 260px;
            }
            
            &-left {
                .disc {
                    margin-bottom: 35px;
                }
            }
        }
        
    }

    &-bg-illus {
        width: 17%;
        position: absolute;
        right: 0;
        top: 30%;
        z-index: -1;
    }
    
}





/* 
    choose-3-end
*/