/* 
    contact-1-start
*/
.as-contact-1 {
    &-wrap {
        background: #0A2803;
        border-radius: 32px;
        margin-left: -80px;
        margin-right: -80px;
        padding: 120px 120px;
        gap: 50px;
        display: grid;
        grid-template-columns: 1fr 1.06fr;
        align-items: center;

        @media #{$xxxl,$xxl,$xl} {
            margin-left: 0;
            margin-right: 0;
            padding: 120px 30px;
        }
        @media #{$lg,$md,$xs} {
            margin-left: 0;
            margin-right: 0;
            padding: 120px 30px;
            grid-template-columns: 1fr ;
        }
    }

    &-sec-title {
        .as-subtitle-1 {
            color: #fff;
        }

        .as-sec-title-1 {
            color: #fff;
        }
    }

    &-info {
        max-width: 470px;

        &-single {
            display: flex;
            align-items: center;
            gap: 24px;
            
            @media #{$xs} {
                flex-wrap: wrap;
            }            
            @media #{$sm} {
                flex-wrap: nowrap;
            }

            &:not(:last-child) {
                margin-bottom: 60px;
            }

            .title {
                color: #fff;
                font-size: 24px;
                margin-bottom: 11px;
            }

            .icon {
                width: 100px;
                height: 100px;
                background: rgb(255 255 255 / 4%);
                border-radius: 12px;
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 35px;
                color: #fff;
            }

            .disc {
                color: #fff;
                opacity: 80%;
            }
            
        }
    }

    &-social {
        display: flex;
        align-items: center;
        gap: 30px;

        @media #{$xs} {
            flex-wrap: wrap;
        }            
        @media #{$sm} {
            flex-wrap: nowrap;
        }


        .title {
            color: #fff;
            font-size: 24px;
        }

        &-link {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;

            .link-elm {
                flex: 0 0 auto;
                width: 60px;
                height: 60px;
                background: #14300D;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                color: #fff;
                font-size: 24px;
            }
        }
    }

    &-right {
        background: linear-gradient(136.43deg, #F1D808 1.95%, #E8F5D3 99.11%);
        border-radius: 32px;
        padding: 48px 48px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 48px 25px;
        }

        .title {
            font-size: 40px;
            margin-bottom: 40px;
        }
    }
    
    
    &-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 24px;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        &-label {
            color: var(--as-clr-h-1);
            font-weight: 600;
            margin-bottom: 12px;
        }

        &-input {
            height: 58px;
            border-radius: 12px;
            border: none;
            background: #fff;
            padding: 0 20px;
            width: 100%;

            &:is(textarea) {
                height: 170px;
                padding-top: 20px;
                display: block;
            }
        }

        &-btn {
            width: 100%;
            height: 60px;
            background: var(--as-clr-pr-1);
            color: #fff;
            border-radius: 8px;
            font-weight: 600;
        }


        .input-box.has-full-width {
            grid-column-end: -1;
            grid-column-start: 1;
        }
    }
    
    
}




/* 
    contact-1-end
*/