/* 
    counter-2-start
*/
.as-counter-2 {
    &-area {
        position: relative;
        z-index: 2;
    }
    &-wrap {
        background-color: var(--as-clr-sd-1);
        border-radius: 32px;
        padding: 80px 80px;
        padding-bottom: 180px;

        @media #{$md,$xs} {
            padding: 80px 30px;
            padding-bottom: 180px;
        }
    }

    &-line {
        height: 1px;
        width: 100%;
        background: var(--as-clr-h-1);
        margin-bottom: 60px;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;

        @media #{$xs} {
            justify-content: center;
        }

        &-single {
            text-align: center;

            .number {
                font-size: 80px;
                font-weight: 800;
                letter-spacing: -0.03em;
                line-height: 90%;
                margin-bottom: 10px;
                @media #{$xxl} {
                    font-size: 70px;
                }
                @media #{$xl} {
                    font-size: 60px;
                }
                @media #{$lg} {
                    font-size: 50px;
                }
                @media #{$md} {
                    font-size: 40px;
                }
                @media #{$xs} {
                    font-size: 35px;
                }
            }

            .disc {
                font-size: 20px;
                font-weight: 500;
                color: var(--as-clr-h-3);
                display: inline-block;
                max-width: 40;
                max-width: 290px;
            }
        }
    }

    &-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        border-radius: 32px 32px 0 0;
        padding: 30px;
        padding-bottom: 7px;

        @media #{$xs} {
            padding: 0;
            text-align: center;
            transform: unset;
            left: 0;
            bottom: 20px;
            width: 100%;
            background-color: transparent;
        }

        .radius-shape {
            position: absolute;
            left: -38px;
            bottom: 0;

            * {
                fill: #fff;
            }

            @media #{$xs} {
                display: none;
            }
        }

        .radius-shape-2 {
            position: absolute;
            right: -38px;
            bottom: 0;
            transform: scaleX(-1);
            * {
                fill: #fff;
            }

            @media #{$xs} {
                display: none;
            }
        }

        .as-pr-btn-1 {
            border-radius: 12px;
            padding: 19px 26px;
            background: var(--as-clr-h-3);
        }
    }
}

/* 
    counter-2-end
*/