/* 
    focused-1-start
*/
.as-focused-1 {
    &-area {
        margin-top: -140px;
        position: relative;
        z-index: 1;
    }

    &-wrap {
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
        border-radius: 32px;
        display: grid;
        gap: 12px;
        padding: 48px 48px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #FFFFFF;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
            padding: 48px 18px;
        }
    }

    &-card {
        border: 1px solid #EDF2EC;
        border-radius: 12px;
        text-align: center;
        padding: 44px 20px;

        .title {
            font-size: 24px;
            margin-bottom: 12px;
            transition: var(--as-cube-1);



            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

            }


            &:hover {
                color: var(--as-clr-pr-1);

                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }

        .main-icon {
            margin-bottom: 44px;

            img {
                transform-origin: bottom;
            }
        }

        .disc {
            margin-bottom: 72px;
        }

        .item-btn {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            color: var(--as-clr-h-1);
            transform: var(--as-cube-1);

            .icon {
                overflow: hidden;
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                i {
                    transition: var(--as-cube-1);
                    &:nth-child(1) {
                        position: absolute;
                        transform: translate(-18px, 18px);
                    }
                }
            }


            &:hover {
                color: var(--as-clr-pr-1);
                .icon {
                    i {
                        &:nth-child(2) {
                            transform: translate(18px, -18px);
                        }
                        &:nth-child(1) {
                            transform: translate(0px, 0px);
                        }
                    }
                }
            }

        }

        &:hover {
            background: rgb(237 242 236 / 30%);

            .main-icon {
                img {
                    animation: swing 1s;
                }
            }
        }
    }
}


/* 
    focused-1-end
*/
/* 
    focused-2-start
*/

.as-focused-2 {
    &-area {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;

    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.23fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;       
        }
    }


    &-content {
        background-color: var(--as-clr-h-3);
        padding: 48px 48px;
        position: relative;
        overflow: hidden;

        @media #{$xxl,$xl,$lg} {
            padding: 48px 20px;            
        }

        @media #{$md,$xs} {
            padding: 48px 20px;     
            padding-top: 120px;       
        }


        &-left {
            max-width: 392px;
        }


        .content-title {
            color: #fff;
            letter-spacing: -0.01em;
            font-size: 32px;
            margin-bottom: 17px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;      
            }

        }

        .content-disc {
            font-weight: 500;
            color: #fff;
            margin-bottom: 65px;
        }

        .as-text-btn-1 {
            color: #fff;
            &:hover {
                color: var(--as-clr-sd-1);
            }
        }
    }

    &-rating {
        display: flex;
        align-items: center;
        gap: 13px;
        margin-bottom: 45px;


        &-number {
            color: #fff;
            font-size: 32px;
            margin-bottom: 5px;
            line-height: 90%;
        }

        .rating-star {
            font-size: 17px;
            color: var(--as-clr-sd-1);
        }
    }

    &-img {
        width: 52%;
        position: absolute;
        right: -15%;
        bottom: -26%;
    }


    &-card {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media #{$xs} {
            grid-template-columns: 1fr;   
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;   
        }

        &-single {
            background: #FEF4DB;
            padding: 48px 48px;
                
            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 48px 20px;            
            }

            .main-icon {
                margin-bottom: 48px;
            }

            .title {
                font-size: 32px;
                letter-spacing: -0.01em;
                margin-bottom: 16px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;            
                }


                a {
                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    
                }
    
    
                &:hover {
    
                    a {
                        color: inherit;
                        background-size: 100% 100%;
                    }
                }

            }

            .disc {
                margin-bottom: 40px;
            }

            .as-text-btn-1 {
                &:hover {
                    color: var(--as-clr-h-2);
                }
            }


            &:last-child {
                text-align: right;
                background-color: var(--as-clr-sd-1);

                .disc {
                    color: var(--as-clr-h-2);
                }
            }

            &:hover {
                .main-icon {
                    img {
                        animation: bounce2 1s;
                    }
                }
            }
        }
    }




}
/* 
    focused-2-end
*/