/* 
    focused-1-start
*/
.as-focused-1 {
    &-area {
        margin-top: -140px;
        position: relative;
        z-index: 1;
    }

    &-wrap {
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
        border-radius: 32px;
        display: grid;
        gap: 12px;
        padding: 48px 48px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #FFFFFF;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
            padding: 48px 18px;
        }
    }

    &-card {
        border: 1px solid #EDF2EC;
        border-radius: 12px;
        text-align: center;
        padding: 44px 20px;

        .title {
            font-size: 24px;
            margin-bottom: 12px;
            transition: var(--as-cube-1);



            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

            }


            &:hover {
                color: var(--as-clr-pr-1);

                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }

        .main-icon {
            margin-bottom: 44px;

            img {
                transform-origin: bottom;
            }
        }

        .disc {
            margin-bottom: 72px;
        }

        .item-btn {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            color: var(--as-clr-h-1);
            transform: var(--as-cube-1);

            .icon {
                overflow: hidden;
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                i {
                    transition: var(--as-cube-1);
                    &:nth-child(1) {
                        position: absolute;
                        transform: translate(-18px, 18px);
                    }
                }
            }


            &:hover {
                color: var(--as-clr-pr-1);
                .icon {
                    i {
                        &:nth-child(2) {
                            transform: translate(18px, -18px);
                        }
                        &:nth-child(1) {
                            transform: translate(0px, 0px);
                        }
                    }
                }
            }

        }

        &:hover {
            background: rgb(237 242 236 / 30%);

            .main-icon {
                img {
                    animation: swing 1s;
                }
            }
        }
    }
}


/* 
    focused-1-end
*/