/* 
    focused-1-start
*/
.as-focused-1 {
    &-area {
        margin-top: -140px;
        position: relative;
        z-index: 1;
    }

    &-wrap {
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
        border-radius: 32px;
        display: grid;
        gap: 12px;
        padding: 48px 48px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #FFFFFF;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
            padding: 48px 18px;
        }
    }

    &-card {
        border: 1px solid #EDF2EC;
        border-radius: 12px;
        text-align: center;
        padding: 44px 20px;

        .title {
            font-size: 24px;
            margin-bottom: 12px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }

        .icon {
            margin-bottom: 44px;
        }

        .disc {
            margin-bottom: 72px;
        }

        .item-btn {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            color: var(--as-clr-h-1);
        }

        &:hover {
            background: rgb(237 242 236 / 30%);
        }
    }
}


/* 
    focused-1-end
*/