/* 
    footer-1-start
*/
.as-footer-1 {
    &-area {
        background: #000000;
        max-width: 1840px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px;
        padding-top: 100px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    &-newsletter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(95 95 95 / 50%);
        padding-bottom: 60px;
        margin-bottom: 60px;
        gap: 30px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .title {
            font-size: 48px;
            color: #fff;
            max-width: 430px;

            @media #{$xl} {
                font-size: 38px;
            }
            @media #{$lg} {
                font-size: 32px;
            }
            @media #{$md,$xs} {
                font-size: 22px;
            }
        }
        
        &-form {
            max-width: 900px;
            width: 100%;
            position: relative;
            z-index: 1;
            gap: 30px;
            will-change: width, max-width;

            .form-input {
                width: 100%;
                border: none;
                height: 80px;
                border-radius: 100px;
                padding-left: 40px;
                padding-right: 210px;
                color: rgb(28 28 29 / 70%);
            }

            .form-btn {
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 17px 25px;
                display: inline-flex;
                align-items: center;
                gap: 8px;
                font-weight: 500;
                letter-spacing: -0.05em;
                color: var(--as-clr-pr-2);
                background: var(--as-clr-sd-1);
                border-radius: 100px;

                i {
                    font-size: 22px;
                }
            }
            
        }
    }


    &-wrap-2 {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    &-logo {
        margin-bottom: 24px;
    }
    
    &-disc {
        color: #FEF4DB;
        max-width: 350px;
        margin-bottom: 48px;
    }
    
    &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .link-elm {
            flex: 0 0 auto;
            width: 60px;
            height: 60px;
            background: rgb(255 255 255 / 15%);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            color: #fff;
            font-size: 24px;
        }
    }

    &-widget {
        .widget-title {
            font-size: 28px;
            color: #fff;
            margin-bottom: 32px;
            letter-spacing: -0.01em;
        }
    }


    &-menu {
        display: flex;
        flex-direction: column;
        gap: 14px;

        a {
            color: #FEF4DB;
            font-weight: 500;
        }
    }


    &-blog {
        max-width: 300px;

        &-single {
            display: flex;
            align-items: center;
            gap: 14px;
            margin-bottom: 24px;

            .img-elm {
                width: 80px;
                height: 80px;
                flex: 0 0 auto;
                border-radius: 12px;
            }

            .item-title {
                color: #fff;
                font-size: 20px;
                margin-bottom: 10px;
            }

            .date {
                color: #fff;
                opacity: 80%;
            }
        }
    }
    
    
    
    &-copyright {
        display: inline-block;
        background: #fff;
        color: var(--as-clr-h-2);
        font-weight: 500;
        font-size: 20px;
        padding: 25px 60px;
        padding-bottom: 10px;
        border-radius: 40px 40px 0 0;
        position: relative;
        z-index: 1;

        .radius-shape {
            position: absolute;
            bottom: -2px;
            left: -31px;
            z-index: -1;

            * {
                fill: #fff;
            }
        }
        .radius-shape-2 {
            position: absolute;
            bottom: -2px;
            right: -30px;
            z-index: -1;
            transform: scaleX(-1);
            * {
                fill: #fff;
            }
        }
    }

    &-big-title {
        text-align: center;
        position: absolute;
        bottom: -85px;
        left: 0;
        width: 100%;
        z-index: -1;
        color: #EDDD5E;
        font-size: 360px;
        line-height: 1;
        font-weight: 800;
        letter-spacing: -0.07em;
        // background: linear-gradient(180deg, rgba(237, 221, 94, 0.2) -0.1%, rgba(10, 40, 3, 0.2) 100%);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
        opacity: .15;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #00000000, #0A2803);
        }
    
        @media #{$xxxl} {
            font-size: 290px;
        }    
        @media #{$xxl} {
            bottom: -50px;
            font-size: 250px;
        }    
        @media #{$xl} {
            bottom: -35px;
            font-size: 235px;
        }    
        @media #{$lg,$md,$xs} {
            display: none;
        }
    }

}


/* 
    footer-1-end
*/