/* 
    gallery-2-start
*/
.as-gallery-2 {
    &-area {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 24px;
        border-radius: 24px;
        background: #FEF4DB;
        max-width: 1840px;
        padding: 32px 32px;
        margin-left: auto;
        margin-right: auto;

        @media #{$xl} {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr ;
        }
    }

    &-item {
        height: 276px;
        border-radius: 20px;
        position: relative;

        .item-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            background: rgb(0 0 0 / 70%);
            color: #fff;
            transform: scale(110%);
            opacity: 0;
            transition: var(--as-cube-1);
        }

        &:hover {
            .item-link {
                opacity: 1;
                transform: scale(100%);
            }
        }
    }
}


/* 
    gallery-2-end
*/