/*
    15. header
*/

/* 
    header-1-start
*/
.as-header-1 {
    &-area {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-container {
        margin-right: auto;
        margin-left: auto;
        max-width: 1830px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-top {
        background: #EDF2EC;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 22px;
        gap: 30px;
        margin-bottom: 42px;

        &-contact {
            display: flex;
            align-items: center;
            gap: 16px;

            @media #{$lg,$md,$xs} {
                display: none;
            }

            .link-elm {
                display: flex;
                align-items: center;
                gap: 6px;
                transition: var(--as-cube-2);

                .icon {
                    width: 44px;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid rgb(95 95 95 / 50%);
                    border-radius: 50%;
                    font-size: 20px;
                    flex:  0 0 auto;
                    transition: var(--as-cube-2);
                }

                &:hover {
                    color: var(--as-clr-pr-1);
                    .icon {
                        color: #fff;
                        background: var(--as-clr-pr-1);
                    }
                }
            }
        }


        &-middle {
            display: flex;
            align-items: center;
            gap: 8px;
            max-width: 570px;
            width: 100%;
            margin-left: -110px;

            @media #{$xl} {
                max-width: 200px;
            }
            @media #{$lg} {
                max-width: 200px;
                margin-left: 0px;
            }
            @media #{$md} {
                max-width: auto;
                width: auto;
                margin-left: 0px;
            }
            @media #{$xs} {
                display: none;
                margin-left: 0px;
            }
        }
        
        &-search {
            max-width: 518px;
            width: 100%;
            flex: 0 0 auto;

            .input-elm {
                width: 100%;
                border: 1px solid rgba(95, 95, 95, 0.5);
                border-radius: 100px;
                background: transparent;
                height: 44px;
                padding: 0 20px;
            }

            .form-btn {
                display: inline-flex;
                width: 36px;
                height: 36px;
                background: var(--as-clr-pr-1);
                border-radius: 50%;
                color: #fff;
                font-size: 20px;
                align-items: center;
                justify-content: center;
                padding: 0;
                position: absolute;
                right: 5px;
                top: 4px;
                transition: var(--as-cube-2);

                &:hover {
                    color: var(--as-clr-pr-1);
                    background: var(--as-clr-sd-1);
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 10px;

            .as-cart-btn-1 {
                @media #{$xs} {
                    display: none;
                }
                @media #{$sm} {
                    display: inline-flex;
                }
            }
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 0 24px;

        &-link {
            display: inline-flex;
            align-items: center;
            gap: 24px;

            .as-offcanvas-btn-1 {
                @media #{$over,$xxl,$xl} {
                    display: none;
                }
            }

            .as-phone-btn-1  {
                @media #{$xl,$lg,$md,$xs} {
                    display: none;
                }
            }

            .as-pr-btn-1 {
                @media #{$xs} {
                    display: none;
                }
                @media #{$sm} {
                    display: inline-block;
                }
            }
        }


        .as-main-navigation {
            margin-right: -190px;

            .navbar-nav {
                margin-top: -20px;
            }
        }
    }
}


.as-main-navigation {
    .bg-shape {
        position: absolute;
        top: -31px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 32px;

        li {
            flex: 0 0 auto;

            a {
                position: relative;
                z-index: 1;
                font-family: var(--as-font-1);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                color: var(--as-clr-p-1);
                padding: 16px 0;
                display: inline-flex;
                align-items: center;
                transition: var(--as-cube-2);
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 18px;

                    &::before {
                        display: block;
                        content: "\f107";
                        font-family: "Font Awesome 6 free";
                        font-weight: 700;
                        position: absolute;
                        font-size: 15px;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--as-clr-pr-1);
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleY(1);

                    li {
                        animation: fadeInDown .2s var(--as-cube-1) backwards;

                        @for $i from 1 through 20 {
                            &:nth-child(#{$i}) {
                                animation-delay: #{($i * 70)}ms;
                            }
                        }
                    }
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 15px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                border-radius: 8px;
                position: absolute;
                background: #fff;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: scaleY(0);
                transform-origin: top;
                transition: var(--as-cube-1);
            
                li {
                    display: block;
                    margin: 0;
    
                    &::after {
                        display: none;
                    }

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        > a {
                            transform: translateX(5px);
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/

/* 
    header-2-start
*/

.as-header-2 {
    &-area {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        z-index: 3;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        padding-left: 80px;

        @media #{$xl,$lg} {
            padding-left: 30px;
            grid-template-columns: 1fr 1.1fr;
        }

        @media #{$md,$xs} {
            padding-left: 20px;
            grid-template-columns: 1fr;
            padding-right: 20px;
        }
    }
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    &-link {
        .as-offcanvas-btn-1 {
            width: 50px;
            height: 50px;
            border-radius: 12px;
            background: var(--as-clr-sd-1);
            color: var(--as-clr-pr-1);

            &:hover {
                background-color: var(--as-clr-h-3);
                color: #fff;
                i {
                    transform: scale(110%);
                }
            }
        }
    }
}
/* 
    header-2-end
*/


/* 
    header-3-start
*/
.as-header-3 {
    &-area {
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    &-wrap {
        display: flex;
        align-items: center;
        gap: 12px;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 24px;
        justify-content: space-between;
    }

    &-logo {
        display: inline-flex;
        max-width: 180px;
        height: 65px;
        background: #fff;
        border-radius: 0 0 16px 0;
        padding-right: 25px;
        position: relative;

        .bg-radius-1 {
            position: absolute;
            top: 100%;
            left: 0;

            * {
                fill: #fff;
            }
        }

        .bg-radius-2 {
            position: absolute;
            top: 0;
            left: 100%;

            * {
                fill: #fff;
            }
        }
    }
    
    &-action-link {
        display: flex;
        align-items: center;
        gap: 28px;

        .as-pr-btn-3 {
            background: var(--as-clr-pr-3);
            padding: 9px 20px;

            @media #{$xs} {
                display: none;
            }

            @media #{$sm} {
                display: inline-flex;
            }
        }

        .as-offcanvas-btn-1 {
            @media #{$over,$xxxl,$xxl,$xl} {
                display: none;
            }
        }

        .as-search-btn-3 {
            @media #{$xs} {
                display: none;
            }
        }
    }
}

.as-main-navigation {
    &:is(.has-header-3) {
        margin-right: auto;

        .navbar-nav {
            gap: 4px;
            li {
                a {
                    font-family: var(--as-font-2);
                    color: #fff;
                    background: rgb(9 39 2 / 40%);
                    border-radius: 4px;
                    padding: 10px 22px;
                }

                &:is(.dropdown) {
                    > a {
                        padding-right: 37px;

                        &::before {
                            content: "\f103";
                            font-size: 12px;
                            right: 20px;
                        }
                    }
                }

                .dropdown-menu {
                    li {
                        a {
                            background: transparent;
                            color: var(--as-clr-h-2);
                        }

                        &:hover {
                            > a {
                                transform: unset;
                                background: var(--as-clr-pr-3);
                            }
                        }
                    }
                }
            }
        }
    }
    
}


/* 
    header-3-end
*/


/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/