/* 
    hero-1-start
*/
.as-hero-1 {

    &-area {
        margin-top: 130px;
    }
    

    &-container {
        margin-right: auto;
        margin-left: auto;
        max-width: 1830px;
        padding-left: 15px;
        padding-right: 15px;
    }


    &-item {
        padding-top: 250px;
        padding-bottom: 315px;

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            border-radius: 20px;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #0A2803;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 20%;
            }
        }

        &-content {
            max-width: 915px;
            margin-left: auto;
            margin-right: auto;

            @media #{$md} {
                padding: 0 54px;
            }

            .hero-title {
                font-size: 72px;
                color: #fff;
                font-weight: 800;
                letter-spacing: -0.02em;
                line-height: 115%;
                margin-bottom: 12px;


                @media #{$xxxl} {
                    font-size: 65px;
                }

                @media #{$xxl} {
                    font-size: 60px;
                }
                @media #{$xl} {
                    font-size: 55px;
                }
                @media #{$lg} {
                    font-size: 50px;
                }
                @media #{$md} {
                    font-size: 45px;
                }
                @media #{$xs} {
                    font-size: 35px;
                }
                @media #{$sm} {
                    font-size: 40px;
                }
            }


            .hero-disc {
                color: #fff;
                font-weight: 500;
                font-size: 20px;
                max-width: 730px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40px;
            }

            .hero-btn {
                display: inline-flex;
                gap: 14px;
                flex-wrap: wrap;
            }
            
        }
    }

    &-slider {
        &-btn {
            &-left {
                position: absolute;
                top: 50%;
                left: -1px;
                transform: translateY(-50%);
                z-index: 1;

                @media #{$xs} {
                    top: 80%;
                }

                .as-slider-btn-1 {
                    position: absolute;
                    top: 41px;
                    left: 0;
                }
            }
            &-right {
                position: absolute;
                top: 50%;
                right: -1px;
                transform: translateY(-50%);
                z-index: 1;

                @media #{$xs} {
                    top: 80%;
                }

                .as-slider-btn-1 {
                    position: absolute;
                    top: 35px;
                    right: 0;
                }
            }
        }
    }

}

/* 
    hero-1-end
*/