/* 
    hero-1-start
*/
.as-hero-1 {

    &-area {
        margin-top: 130px;
    }
    

    &-container {
        margin-right: auto;
        margin-left: auto;
        max-width: 1830px;
        padding-left: 15px;
        padding-right: 15px;
    }


    &-item {
        padding-top: 250px;
        padding-bottom: 315px;

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            border-radius: 20px;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #0A2803;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 40%;
            }
        }

        &-content {
            max-width: 915px;
            margin-left: auto;
            margin-right: auto;

            @media #{$md} {
                padding: 0 54px;
            }

            .hero-title {
                font-size: 72px;
                color: #fff;
                font-weight: 800;
                letter-spacing: -0.02em;
                line-height: 115%;
                margin-bottom: 12px;


                @media #{$xxxl} {
                    font-size: 65px;
                }

                @media #{$xxl} {
                    font-size: 60px;
                }
                @media #{$xl} {
                    font-size: 55px;
                }
                @media #{$lg} {
                    font-size: 50px;
                }
                @media #{$md} {
                    font-size: 45px;
                }
                @media #{$xs} {
                    font-size: 35px;
                }
                @media #{$sm} {
                    font-size: 40px;
                }
            }


            .hero-disc {
                color: #fff;
                font-weight: 500;
                font-size: 20px;
                max-width: 730px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40px;
            }

            .hero-btn {
                display: inline-flex;
                gap: 14px;
                flex-wrap: wrap;
            }
            
        }
    }

    &-slider {


        .swiper-wrapper {
            .swiper-slide {
                .as-hero-1-item .bg-img {
                    img {
                        animation: h1-img-slide 1s;
                    }
                }

                .as-hero-1-item-content {
                    .hero-title, .hero-disc , .hero-btn {
                        animation: h1-img-slide 1s;
                    }
                }

                &:is(.swiper-slide-active) {
                    .as-hero-1-item .bg-img {
                        img {
                            animation: h1-img-slide-2 1s backwards;
                     
                        }
                    }

                    .as-hero-1-item-content {
                        .hero-title, .hero-disc , .hero-btn {
                            animation: h1-img-slide-2-text .7s backwards;
                            
                        }
                        .hero-title {
                            animation-delay: .7s;
                        }
                        .hero-disc {
                            animation-delay: .9s;
                        }
                        .hero-btn {
                            animation-delay: 1.1s;
                        }
                    }

                }
            }
        }

        @keyframes h1-img-slide {
            to {
                transform: translateY(-50%) scale(1.2);
                filter: blur(10px);
            }
        }
        
        @keyframes h1-img-slide-2 {
            from {
                transform: translateY(50%) scale(1.2);
                filter: blur(10px);
            }
        }        
        @keyframes h1-img-slide-2-text {
            from {
                transform: translateY(50%) scale(1.2);
                filter: blur(10px);
                opacity: 0;
            }
        }
        


        &-btn {
            &-left {
                position: absolute;
                top: 50%;
                left: -1px;
                transform: translateY(-50%);
                z-index: 1;

                @media #{$xs} {
                    top: 80%;
                }

                .as-slider-btn-1 {
                    position: absolute;
                    top: 41px;
                    left: 0;
                }
            }
            &-right {
                position: absolute;
                top: 50%;
                right: -1px;
                transform: translateY(-50%);
                z-index: 1;

                @media #{$xs} {
                    top: 80%;
                }

                .as-slider-btn-1 {
                    position: absolute;
                    top: 35px;
                    right: 0;
                }
            }
        }
    }

}

/* 
    hero-1-end
*/



/* 
    hero-2-start
*/

.as-hero-2 {
    &-area {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1.43fr;
        padding-left: 80px;
        align-items: center;
    
        @media #{$xl,$lg,} {
            padding-left: 30px;
            grid-template-columns: 1fr 1fr;
        }
        
        @media #{$md,$xs} {
            padding-left: 20px;
            padding-right: 20px;
            grid-template-columns: 1fr ;
        }
    }

    &-content {
        margin-top: 90px;

        @media #{$md,$xs} {
            margin-top: 180px;
        }


        .hero-title {
            font-size: 72px;
            font-weight: 800;
            line-height: 115%;
            margin-bottom: 12px;
            letter-spacing: -0.03em;


            @media #{$xxl} {
                font-size: 65px;
            }
            
            @media #{$xl} {
                font-size: 60px;
            }
            
            @media #{$lg} {
                font-size: 55px;
            }
            
            @media #{$md} {
                font-size: 50px;
            }

            
            @media #{$xs} {
                font-size: 40px;
            }
            
            @media #{$sm} {
                font-size: 45px;
            }
        }

        .hero-disc {
            max-width: 570px;
            margin-bottom: 40px;
            font-weight: 500;
        }

        .hero-btn {
            display: flex;
            gap: 14px;
            flex-wrap: wrap;
        }
    }

    &-img {
        height: 800px;
        position: relative;

        @media #{$xs} {
            height: 400px;
        }
        @media #{$sm} {
            height: 550px;
        }

        img {
            transform: scale(1.4);
            transition: all 1.2s ease-in-out;
        }

        &::after {
            content: "";
            width: 200%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            background: linear-gradient(90deg, #ffffff00, #ffffff 50%);
            transition: all 1s ease-in-out;
        }

        &:is(.active) {
            &::after {
                left: 100%;
                transition-delay: .5s;
            }
            img {
                transform: scale(1);
                transition-delay: .5s;
            }
        }
    }


    &-explore {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        background: #EDDD5E;
        border-radius: 50%;
        outline: 18px solid #FEF4DB;
        padding: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .arrow-icon {
            display: inline-flex;
            width: 74px;
            height: 74px;
            background: #fff;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: var(--as-clr-h-3);
            position: absolute;
            outline: 8px solid rgb(255 255 255 / 30%);
            transition: var(--as-cube-1);
        }

        .circle-text {
            animation: wa-rotated 10s linear infinite;
        }

        &:hover {
            .arrow-icon {
                background-color: var(--as-clr-h-3);
                color: #fff;
            }
        }
    }

}


/* 
    hero-2-end
*/