/* 
    projects-1-start
*/
.as-projects-1 {
    &-area {
        background-color: #EDF2EC;
        border-radius: 40px;
        max-width: 1840px;
        margin-left: auto;
        margin-right: auto;
    }

    &-sec-title {
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        background: #fff;
        border-radius: 32px;
        padding: 20px;
        padding-bottom: 32px;

        .item-img {
            height: 400px;
            border-radius: 28px;
            margin-bottom: 32px;

            .btn-wrap {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgb(0 0 0 / 40%);
                transform: scale(90%);
                opacity: 0;
                transition: var(--as-cube-1);
                border-radius: 28px;

                .shape {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-top: 2px solid #fff;
                    border-left: 2px solid #fff;
                    border-radius: 4px 0 0 0;
                    transition: var(--as-cube-1);

                    &:nth-of-type(1) {
                        top: 32px;
                        left: 31px;
                    }
                    &:nth-of-type(2) {
                        top: 32px;
                        right: 32px;
                        border-right: 2px solid #fff;
                        border-left: 0;
                        border-radius: 0 4px 0 0;
                    }
                    &:nth-of-type(3) {
                        bottom: 32px;
                        right: 32px;
                        border-top: 0;
                        border-bottom: 2px solid #fff;
                        border-right: 2px solid #fff;
                        border-left: 0;
                        border-radius: 0 0 4px 0;
                    }
                    &:nth-of-type(4) {
                        bottom: 32px;
                        left: 32px;
                        border-top: 0;
                        border-bottom: 2px solid #fff;
                        border-radius: 0 0 0 4px;
                    }
                }
            }
            
        }


        .plus-btn {
            background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(18px);
            border-radius: 50%;
            display: inline-flex;
            width: 72px;
            height: 72px;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: #fff;
            opacity: 0;
            transition-delay: 0;
            transition: var(--as-cube-1);

            &:hover {
                background: var(--as-clr-pr-1);
                color: #fff;
            }
        }
        .title-x-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
        }
        
        .title {
            font-size: 28px;
            letter-spacing: -0.03em;
            margin-bottom: 8px;
            transition: var(--as-cube-1);

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

            }


            &:hover {

                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }

        .item-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            width: 67px;
            height: 67px;
            background: #F6F7F9;
            border-radius: 15px;
            font-size: 24px;
            color: var(--as-clr-pr-1);
            transition: var(--as-cube-1);

            &:hover {
                background: var(--as-clr-pr-1);
                color: #fff;
            }
        }

        &:hover {
            .btn-wrap {
                transform: scale(1);
                opacity: 1;
            }
            .plus-btn {
                opacity: 1;
                transition-delay: .2s;
            }
        }
    }
}




/* 
    projects-1-end
*/








