/* 
    services-1-start
*/
.as-services-1 {
    &-area {
        position: relative;
    }
    &-bg-img {
        width: 25%;
        position: absolute;
        top: -20%;
        right: 9vw;
        z-index: -1;
    }
  
    &-sec-title {
        max-width: 656px;
    }
  
    &-wrap {
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
    }
  
    &-tabs {
        &-pane {
            max-width: 636px;
    
            @media #{$xl} {
                max-width: 500px;
            }
            @media #{$lg} {
                max-width: 400px;
            }
    
            &-content {
                .img-elm {
                    height: 402px;
                    border-radius: 24px;
                    margin-bottom: 32px;
                }
        
                .disc {
                    margin-bottom: 32px;
                }
    
                .item-btn {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-weight: 500;
                    letter-spacing: -0.05em;
                    color: var(--as-clr-h-2);
                    font-size: 20px;
                    transition: var(--as-cube-1);
        
                    i {
                        font-size: 24px;
                    }
        
                    .icon {
                        overflow: hidden;
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
        
                        i {
                            transition: var(--as-cube-1);
                            &:nth-child(1) {
                                position: absolute;
                                transform: translate(-18px, 18px);
                            }
                        }
                    }
        
                    &:hover {
                        color: var(--as-clr-pr-1);
                        .icon {
                            i {
                                &:nth-child(2) {
                                    transform: translate(18px, -18px);
                                }
                                &:nth-child(1) {
                                    transform: translate(0px, 0px);
                                }
                            }
                        }
                    }
                }
            }
    
            .tab-pane {
                &:is(.show) {
                        .as-services-1-tabs-pane-content {
                        .img-elm,
                        .disc,
                        .item-btn {
                            animation: fadeInUp2 0.3s backwards;
                        }
            
                        .disc {
                            animation-delay: 0.2s;
                        }
                        .item-btn {
                            animation-delay: 0.4s;
                        }
                    }
                }
            }
        }
  
        &-btn {
            max-width: 636px;
            width: 100%;
    
            @media #{$xxl} {
                max-width: 516px;
            }
            @media #{$xl} {
                max-width: 500px;
            }
            @media #{$lg} {
                max-width: 400px;
            }
    
            .nav-link {
                width: 100%;
                text-align: left;
                background: transparent;
                border-bottom: 1px solid rgb(0 0 0 / 8%);
                font-size: 32px;
                color: rgb(95 95 95 / 80%);
                padding: 40px 0;
                display: flex;
        
                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
    
                span {
                    font-size: 20px;
                    margin-right: 27px;
                    margin-top: -10px;
                }
    
                &:hover {
                    color: var(--as-clr-h-2);
                }
                &:is(.active) {
                    color: var(--as-clr-h-2);
                }
            }
        }
    }
}
  
/* 
    services-1-end
*/


/* 
    services-2-start
*/
.as-services-2 {
    &-area {
        position: relative;
        z-index: 2;

        &::after {
            content: "";
            max-width: 1720px;
            width: 100%;
            height: 630px;
            background-color: var(--as-clr-h-3);
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            border-radius: 40px;
        }
    }

    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 750px;
        }

        .as-sec-title-1 , .as-subtitle-1  {
            color: #fff;
        }

        .right {
            max-width: 450px;

            .disc {
                color: #fff;
                margin-bottom: 40px;
            }
        }

        .as-pr-btn-1 {
            &:hover {
                background-color: #FEF4DB;
                color: var(--as-clr-h-2);
            }
        }
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr ; 
        }

        @media #{$xs} {
            grid-template-columns: 1fr  ; 
        }
    }
    
    &-card {
        border-radius: 16px;
        background: #FEF4DB;
        padding: 24px;
        padding-bottom: 40px;
        text-align: center;

        .main-img {
            height: 294px;
            border-radius: 12px;
            position: relative;

            img {
                transition: var(--as-cube-1);
            }

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
                position: absolute;
                top: 0;
                left: 0;
                opacity: .3;
                transform: translateX(-100%);
                transition: .3s;
            }
        }

        .main-icon {
            display: inline-flex;
            width: 90px;
            height: 90px;
            background-color: var(--as-clr-h-3);
            border-radius: 12px;
            align-items: center;
            justify-content: center;
            outline: 6px solid #FEF4DB;
            margin-top: -30px;
            transform: translateY(-14px);
            margin-bottom: 30px;
        }

        .title {
            font-size: 24px;
            letter-spacing: -0.01em;
            margin-bottom: 16px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }


            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

            }


            &:hover {
                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }

        .disc {
            margin-bottom: 32px;
            max-width: 424px;
            display: inline-block;
        }

        .as-text-btn-1 {
            &:hover {
                color: var(--as-clr-h-3);
            }
        }

        &:hover {
            .main-img {
                &::after {
                    animation: asB1shadowKf .6s;
                }
                img {
                    transform: scale(103%);
                }
            }

            .main-icon {
                img {
                    animation: bounce2 1s;
                }
            }
        }


    }
    
}


@keyframes asB1shadowKf {
    to {
        transform: translateX(100%);
    }
}
  
/* 
    services-2-end
*/
  
  
/* 
    services-3-start
*/
.as-services-3 {
    &-area {
        background-color: #F8F7F0;
        margin-left: 12px;
        margin-right: 12px;
        border-radius: 16px;
    }
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 88px;
    }
    &-sec-title {
        .as-sec-title-3 {
            margin-bottom: 22px;
        }
        .sec-disc {
            margin-bottom: 33px;
        }  
    }

    &-slider {
        &-item {
            height: 520px;
            border-radius: 12px;
            overflow: hidden;
            position: relative;

            .content-wrap {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                background-size: 100% 100%;
                padding: 70px 40px;
            }

            .icon-elm {
                width: 110px;
                height: 110px;
                display: inline-flex;
                background-size: 100% 100%;
                align-items: center;
                justify-content: center;
                font-size: 44px;
                color: #00853A;
                margin-bottom: 28px;
            }

            .disc {
                color: #fff;
                margin-bottom: 30px;
            }

            .item-btn {
                font-size: 30px;
                color: var(--as-clr-sd-1);
            }
        }
        
        .swiper-wrapper {
            .swiper-slide {
                max-width: 396px;
            }
        }
    }
}


/* 
    services-3-end
*/
  