/* 
    services-1-start
*/
.as-services-1 {
  &-area {
    position: relative;
  }
  &-bg-img {
    width: 25%;
    position: absolute;
    top: -20%;
    right: 9vw;
    z-index: -1;
  }

  &-sec-title {
    max-width: 656px;
  }

  &-wrap {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
  }

  &-tabs {
    &-pane {
      max-width: 636px;

      @media #{$xl} {
        max-width: 500px;
      }
      @media #{$lg} {
        max-width: 400px;
      }

      &-content {
        .img-elm {
          height: 402px;
          border-radius: 24px;
          margin-bottom: 32px;
        }

        .disc {
          margin-bottom: 32px;
        }

        .item-btn {
          display: flex;
          align-items: center;
          gap: 8px;
          font-weight: 500;
          letter-spacing: -0.05em;
          color: var(--as-clr-h-2);
          font-size: 20px;
          transition: var(--as-cube-1);

          i {
            font-size: 24px;
          }

          .icon {
            overflow: hidden;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            i {
              transition: var(--as-cube-1);
              &:nth-child(1) {
                position: absolute;
                transform: translate(-18px, 18px);
              }
            }
          }

          &:hover {
            color: var(--as-clr-pr-1);
            .icon {
              i {
                &:nth-child(2) {
                  transform: translate(18px, -18px);
                }
                &:nth-child(1) {
                  transform: translate(0px, 0px);
                }
              }
            }
          }
        }
      }

      .tab-pane {
        &:is(.show) {
          .as-services-1-tabs-pane-content {
            .img-elm,
            .disc,
            .item-btn {
              animation: fadeInUp2 0.3s backwards;
            }

            .disc {
              animation-delay: 0.2s;
            }
            .item-btn {
              animation-delay: 0.4s;
            }
          }
        }
      }
    }

    &-btn {
      max-width: 636px;
      width: 100%;

      @media #{$xxl} {
        max-width: 516px;
      }
      @media #{$xl} {
        max-width: 500px;
      }
      @media #{$lg} {
        max-width: 400px;
      }

      .nav-link {
        width: 100%;
        text-align: left;
        background: transparent;
        border-bottom: 1px solid rgb(0 0 0 / 8%);
        font-size: 32px;
        color: rgb(95 95 95 / 80%);
        padding: 40px 0;
        display: flex;

        @media #{$xxl,$xl,$lg,$md,$xs} {
          font-size: 22px;
        }

        span {
          font-size: 20px;
          margin-right: 27px;
          margin-top: -10px;
        }

        &:hover {
          color: var(--as-clr-h-2);
        }
        &:is(.active) {
          color: var(--as-clr-h-2);
        }
      }
    }
  }
}

/* 
    services-1-end
*/
/* 
    services-2-start
*/
.as-services-2 {
  &-sec-title {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .right {
      max-width: 450px;
    }

    .disc {
      color: #fff;
      margin-bottom: 40px;
    }

    .right {
      max-width: 450px;
    }

    .right {
      max-width: 450px;

      .disc {
        color: #fff;
        margin-bottom: 40px;
      }
    }

        .disc {
      color: #fff;
      margin-bottom: 40px;
    }

  }
}

/* 
    services-2-end
*/
