

/* 
    testimonial-1-start
*/

.as-testimonial-1 {
    &-area {
        padding-top: 240px;
        max-width: 1840px;
        margin-right: auto;
        margin-left: auto;
    }


    &-bg-img {
        border-radius: 40px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #244F0B;
            opacity: 40%;
        }
    }

    &-wrap {
        display: grid;
        gap: 80px;
        max-width: 1420px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 1.35fr;
    }

    &-left {
        background: #fff;
        border-radius: 40px 40px  0 0;
        padding: 40px 40px;

        .radius-shape {
            position: absolute;
            bottom: -1px;
            left: -38px;
            z-index: -1;

            * {
                fill: #fff;
            }
        }
        .radius-shape-2 {
            position: absolute;
            bottom: -1px;
            right: -38px;
            z-index: -1;
            transform: scaleX(-1);
            * {
                fill: #fff;
            }
        }
    }

    &-slider {
        &-item {
            border-radius: 20px;
            background: #EDF2EC;
            padding: 40px 40px;

            .rating-star {
                display: flex;
                gap: 5px;
                font-size: 20px;
                color: var(--as-clr-sd-1);
                margin-bottom: 32px;
            }
            
            .comment {
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 40px;
                border-bottom: 1px dashed rgb(95 95 95 / 40%);
                margin-bottom: 40px;
            }

            .author {
                display: flex;
                align-items: center;
                gap: 14px;
                flex-wrap: wrap;

                &-img {
                    width: 60px;
                    height: 60px;
                    border-radius: 12px;
                    border: 3px solid #fff;
                }

                &-content {
                    .name {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 4px;
                    }
                }

                &-link {
                    color: var(--as-clr-pr-1);
                    font-size: 25px;
                    opacity: .5;
                    margin-left: auto;
                }
            }
            
        }
    }


    &-sec-title {
        margin-bottom: 180px;
        
        .as-subtitle-1 {
            color: #fff;
        }
        .as-sec-title-1 {
            color: #fff;
        }
    }
}



/* 
    testimonial-1-end
*/