

/* 
    testimonial-1-start
*/

.as-testimonial-1 {
    &-area {
        padding-top: 240px;
        max-width: 1840px;
        margin-right: auto;
        margin-left: auto;
    }


    &-bg-img {
        border-radius: 40px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #244F0B;
            opacity: 40%;
        }
    }

    &-wrap {
        display: grid;
        gap: 80px;
        max-width: 1420px;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 1.35fr;
        align-items: end;

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        background: #fff;
        border-radius: 40px 40px 0 0;
        padding: 40px 40px;
        display: inline-block;
        max-width: 570px;

        @media #{$xxl,$xl} {
            padding: 40px 20px;
            max-width: 450px;
            margin-left: auto;
        }
        @media #{$lg,$md,$xs} {
            padding: 40px 20px;
            max-width: 450px;
            border-radius: 40px;
            overflow: hidden;
        }

        .radius-shape {
            position: absolute;
            bottom: -1px;
            left: -38px;
            z-index: -1;

            * {
                fill: #fff;
            }

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
        .radius-shape-2 {
            position: absolute;
            bottom: -1px;
            right: -38px;
            z-index: -1;
            transform: scaleX(-1);
            * {
                fill: #fff;
            }

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }

    &-slider {
        &-item {
            border-radius: 20px;
            background: #EDF2EC;
            padding: 40px 40px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 40px 20px;
            }

            .rating-star {
                display: flex;
                gap: 5px;
                font-size: 20px;
                color: var(--as-clr-sd-1);
                margin-bottom: 32px;
            }
            
            .comment {
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 40px;
                border-bottom: 1px dashed rgb(95 95 95 / 40%);
                margin-bottom: 40px;
            }

            .author {
                display: flex;
                align-items: center;
                gap: 14px;
                flex-wrap: wrap;

                &-img {
                    width: 60px;
                    height: 60px;
                    border-radius: 12px;
                    border: 3px solid #fff;
                }

                &-content {
                    .name {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 4px;
                    }
                }

                &-link {
                    color: var(--as-clr-pr-1);
                    font-size: 25px;
                    opacity: .5;
                    margin-left: auto;
                }
            }
            
        }

        &-pagi {
            display: inline-flex;
            gap: 8px;
            margin-top: 40px;

            span {
                width: 20px;
                height: 20px;
                background: var(--as-clr-pr-1);
                margin: 0 !important;
            }
        }


        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .as-testimonial-1-slider-item {
                        .rating-star {
                            i {
                                animation: fadeIn .5s backwards;
                                animation-delay: .3s;
                                &:nth-child(2) {
                                    animation-delay: .4s;
                                }
                                &:nth-child(3) {
                                    animation-delay: .5s;
                                }
                                &:nth-child(4) {
                                    animation-delay: .6s;
                                }
                                &:nth-child(5) {
                                    animation-delay: .7s;
                                }
                            }
                        }
                        .comment, .author {
                            animation: fadeInUp2 .3s backwards;
                            animation-delay: .4s;
                        }

                        .author {
                            animation-delay: .5s;
                        }
                    }
                }
            }
        }
    }


    &-sec-title {
        margin-bottom: 180px;
        
        .as-subtitle-1 {
            color: #fff;
        }
        .as-sec-title-1 {
            color: #fff;
        }
    }


    &-right-bottom {
        display: block;
        background: #fff;
        position: relative;
        padding: 45px;
        border-radius: 40px 40px 0 0;
        max-width: 540px;
        margin-left: auto;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            padding: 45px 20px;
        }

        .radius-shape {
            position: absolute;
            bottom: -1px;
            left: -38px;
            z-index: -1;

            * {
                fill: #fff;
            }
        }
        .radius-shape-2 {
            position: absolute;
            bottom: -1px;
            right: -38px;
            z-index: -1;
            transform: scaleX(-1);
            * {
                fill: #fff;
            }
        }
    }
    
    &-counter {
        display: flex;
        background: #0A2803;
        gap: 48px;
        padding: 40px 40px;
        border-radius: 20px;

        @media #{$xs} {
            flex-wrap: wrap;
        }
        @media #{$sm} {
            flex-wrap: nowrap;
        }

        .hr-line {
            background: #FFFFFF;
            width: 1px;

            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: block;
            }
        }

        .number {
            font-weight: 800;
            color: #fff;
            font-size: 50px;
            letter-spacing: -0.03em;
        }

        .disc {
            color: #FEF4DB;
            font-size: 20px;
            font-weight: 500;
        }
    }
    
    
    
}



/* 
    testimonial-1-end
*/

/* 
    testimonial-2-start
*/
.as-testimonial-2 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    
        @media #{$md,$xs} {
            flex-wrap: wrap;
        }
    
        .left {
            max-width: 470px;
        }
    

        .right {
            max-width: 435px;
        }

        .disc {
           margin-bottom: 40px; 
        }
    
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1.42fr 1fr;
        gap: 24px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;     
        }
    }

    &-left  {
        padding: 48px 48px;
        background: #FEF4DB;
        border-radius: 24px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 48px 20px;
        }

        &-line {
            background: rgb(57 37 26 / 20%);
            margin-bottom: 48px;
            width: 100%;
            height: 1px;
        }
    }
    

    &-content-slider {
        margin-bottom: 48px;

        &-item {
            .rating-x-date {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                flex-wrap: wrap;
                margin-bottom: 48px;
            }
            .rating-star {
                display: flex;
                gap: 6px;
                font-size: 20px;
            }
            .date {
                font-size: 24px;
                color: var(--as-clr-h-2);
                font-weight: 500;
            }

            .comment {
                font-weight: 500;
                font-size: 24px;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }
        
            }
        }

        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .as-testimonial-2-content-slider-item {
                        .rating-star {
                            i {
                                animation: fadeIn .5s backwards;
                                animation-delay: .3s;
                                &:nth-child(2) {
                                    animation-delay: .4s;
                                }

                                &:nth-child(3) {
                                    animation-delay: .5s;
                                }

                                &:nth-child(4) {
                                    animation-delay: .6s;
                                }

                                &:nth-child(5) {
                                    animation-delay: .7s;
                                }
                            }
                        }
                        .comment {
                            animation: fadeInUp2 .5s backwards;
                            animation-delay: .3s;
                        }
                        .date {
                            animation: fadeInRight2 .5s backwards;
                            animation-delay: .3s;
                        }
                    }
                }
            }
        }
    }

    &-img-slider {
        &-single {
            border-radius: 24px;
            height: 544px;

            @media #{$xs} {
                height: 400px;
            }

            @media #{$sm} {
                height: 500px;
            }
        }
    }


    &-preview-slider {

        &-single {
            display: inline-flex;
            gap: 10px;
            padding: 15px;
            border-radius: 12px;
            background: #fff;
            align-items: center;
            width: 90px;
            cursor: pointer;
            overflow: hidden;
            transition: var(--as-cube-1);
            border: 2px solid rgb(0 0 0 / 10%);

            .item-img {
                width: 60px;
                height: 60px;
                flex: 0 0 auto;
                border-radius: 50%;
            }

            .item-name {
                font-size: 20px;
                color: #fff;
                margin-bottom: 6px;
            }
            .bio {
                color: #FEF4DB;
            }

            .content {
                opacity: 0;
                transition: .3s;
                flex: 0 0 auto;
            }
        }

        .swiper-wrapper {
            justify-content: space-between;

            .swiper-slide {
                width: auto;
                transition: .3s;
                &:is(.swiper-slide-thumb-active) {
                    .as-testimonial-2-preview-slider-single {
                        width: 290px;
                        background: var(--as-clr-h-3);
                        .content {
                            opacity: 1;
                            transition-delay: .3s;
                            animation: fadeInLeft .5s;
                        }
                    }
                }
            }
        }
    }


    
}
/* 
    testimonial-2-end
*/