/* 
    video-2-start
*/
.as-video-2 {
    &-area {
        width: 100%;
        height: 800px;

        
        @media #{$lg} {
            height: 700px;   
        }
        
        @media #{$md} {
            height: 600px;   
        }

        @media #{$xs} {
            height: 400px;   
        }

        @media #{$sm} {
            height: 500px;   
        }

        video {
            object-position: 7%;
        }

    }
}
/* 
    video-2-end
*/